//
//  macho_dynamic.xcconfig
//  cctools
//
//  Created by Michael Trent on 12/21/18.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// libmacho static archives are installed in /usr/local/lib/system
INSTALL_PATH = /usr/local/lib/system

// XCODE defaults to not installing .a files
SKIP_INSTALL=NO
