//
//  private_test.xcconfig
//  cctools
//
//  Created by Michael Trent on 1/19/19.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// private test utilities install in /usr/local/bin/cctools, where the are
// don't appear in anyone's toolchain.
INSTALL_PATH = ${CCTOOLS_USRLOCALBIN}/cctools

// some tools currently require the LTO_SUPPORT macro to be defined in order to
// compile support for LTO. This is built non-conditionally, and can probably
// be factored out of the source code at some future point.
CCTOOLS_C_FLAGS_LTO = -DLTO_SUPPORT

OTHER_CFLAGS = ${inherited} ${CCTOOLS_C_FLAGS_LTO}
