//
//  public_assembler.xcconfig
//  cctools
//
//  Created by Michael Trent on 12/20/18.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// HEADER_SEARCH_PATHS includes the as headers
HEADER_SEARCH_PATHS = ${inherited} as

// public utilities install in /usr/libexec
INSTALL_PATH = ${CCTOOLS_USRLIBEXEC}/as

// cctools wwraps NeXT-specific changes to the as project with #define NeXT_MOD.
// in addition, each assembler target needs to define the specific architecture
// for that assembler in the C flags (e.g., -DARM).
CCTOOLS_C_FLAGS_AS = -DNeXT_MOD

OTHER_CFLAGS = ${inherited} ${CCTOOLS_C_FLAGS_AS}
