//
//  strip.xcconfig
//  cctools
//
//  Created by Michael Trent on 12/21/18.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "public_tool.xcconfig"

// when compiling in RC_MACOS and RC_DEVTOOLS build trains, strip builds with
// TRIE_SUPPORT enabled. This involves three settings:
//
//   Adding the local tool chain to HEADER_SEARCH_PATHS in order to include
//   "mach-o/prune_trie.h"
//
//   Adding -DTRIE_SUPPORT when to OTHER_CLFAGS
//
//   Adding c++ and the prune_trie library to OTHER_LDFLAGS
//
// Because Xcode doesn't directly support conditionalizing build settings
// against environment variables, this needs to be done in a round-about way
// using nested variable expansion.
STRIP_HEADER_SEARCH_PATHS = ${DT_TOOLCHAIN_DIR}/usr/local/include
STRIP_OTHER_CFLAGS        = -DTRIE_SUPPORT
STRIP_OTHER_LDFLAGS       = -lc++ -stdlib=libc++ -L${DT_TOOLCHAIN_DIR}/usr/local/lib -lprunetrie

STRIP_HEADER_SEARCH_PATHS_MACOS_XOR_XCODE_YES = ${STRIP_HEADER_SEARCH_PATHS}
STRIP_OTHER_CFLAGS_MACOS_XOR_XCODE_YES        = ${STRIP_OTHER_CFLAGS}
STRIP_OTHER_LDFLAGS_MACOS_XOR_XCODE_YES       = ${STRIP_OTHER_LDFLAGS}

HEADER_SEARCH_PATHS = ${inherited} ${STRIP_HEADER_SEARCH_PATHS_MACOS_XOR_XCODE_${CCTB_MACOS}${CCTB_XCODE}}
OTHER_CFLAGS        = ${inherited} ${CCTOOLS_C_FLAGS_LTO} ${STRIP_OTHER_CFLAGS_MACOS_XOR_XCODE_${CCTB_MACOS}${CCTB_XCODE}}
OTHER_LDFLAGS       = ${inherited} ${STRIP_OTHER_LDFLAGS_MACOS_XOR_XCODE_${CCTB_MACOS}${CCTB_XCODE}}
